<!-- <div class="wrapper"> -->
    <!-- <div id="page-header"> -->
        <!-- <img src=""> -->
  <!-- <div class="content-center">
  <div class="container">
  </div>
  </div> -->
<!-- </div> -->
<!-- </div> -->


<!-- <div class="wrapper">
  <div class="container-fluid" id="page-header" style="background-image: url('/assets/img/bag.jpg')">
    <div class="overlay">
    <div class="content-center">
      <h1>Some Up </h1>
    </div>
    </div>
  </div>
</div> -->

<div class="wrapper">
  <div id="page-header" style="background-image: url('/assets/img/bag.jpg')">
    <div class="overlay">
      <div class="container">
          <div class="content-center">
            <h1>SomeUp </h1>
            <h3>Take Pleasure of Amazing Taste</h3>
          </div>
    </div>
    </div>
  </div>
  <div class="container-fluid">
    
  </div>
</div>